body{
    font-family: 'Nanum Myeongjo', serif;
    background-color: #FFFAEE;
    width: 1200px;
    margin: auto;
}

.topmenu  li{
    display: inline-block;
    padding-left: 15px;
}
.topmenu ul{
    position: relative;
    top:0px;
    left: 800px;
}
.topmenu hr{
    position: relative;
    top : -10px;
    left: 430px;
    width: 360px;
}

#logo{
    position: relative;
    top : -20px;

    width:350px;
    padding: 0%;
    border : 0px;
}
#showMenu{
    position: relative;
    top:100px;
    left:-325px;
    width:-0px;
    height: -0px;
    z-index: 10;
}
#showMenu img{
    position: relative;
    top:0px;

    width : 120px;
}
#hide{ 
    position: relative;
    top:20px;
    left:25px;

    background-color: #FFFAEE;
    width:30px;
    height: 10px;
    z-index: 12;
}

.sidemenu li{
    position: relative;
    top:90px;

    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    color:black;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: -40px;
    border: 2px solid rgb(37, 36, 36);
}
.sidemenu{
    position: relative;
    top:0px;
    left: 0px;

    border-radius: 5px;
    width:134px;
    height: 700px;
  /*  display: none;*/
    float: left;
    text-align: center;
    font-family: 'Nanum Pen Script','Nanum Myeongjo', serif, cursive;
}

#container{
    position: relative;
    top:-10px;
    left:40px;
    
    width:1060px;
    height: 700px;
    
    margin:0 auto;
    font-weight: 500;/*글씨 굵기나 폰트사이즈는 각 페이지 html에서 필요에 따라 재조정해주세요*/
    background-image: url("./image/책그림_선없음.png") ;
    background-size: 1060px 700px;
    background-repeat: no-repeat;
}

#centerBody{
    position: relative;
    top:50px;
    font-family: 'Nanum Pen Script', cursive;
    background-color:#FFFAEE;
    width: 910px;
    margin: auto;
    height: 600px;
    overflow-y:scroll;
    overflow-x:hidden; 
}
footer{
    position: relative;
    text-align: center;
    font-size: 15px;
    height: 60px;
    clear: both;
    color: rgb(133, 121, 121);

    border-top: 1px solid rgb(133, 121, 121);
    position:relative;
    width:1130px;
    margin:20px auto;
}
footer > span{
    color: rgb(128, 100, 91);
    font-size: 20px;
    font-weight: 900;
}

a{
    font-weight: 800;
    color: black;
    text-decoration: none;
    }
a:hover{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}

